@charset "utf-8";

.container {
    display: flex;
}

.icon {
    width: 50%;
}

.profile {
    width: 50%;
}

.bg {
    background-color: #FFF2F2;
}

.item {
    margin: 2rem auto 2rem 2rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    width: 470px;
}

/* アイコン */

.icon-size {
    width: 470px;
    height: 470px;
    margin: 2rem 2rem 2rem auto;
    padding: 25px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* プロフィール */

.mark::before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #51B3EA;
}

h2 + p {
    margin-top: 0.5rem;
}

.item h1 {
    width: 55%;
    font-size: 50px;
    margin: auto auto auto 1.0rem;
    font-weight: 400;
}

.item h3 {
    width: 45%;
    margin: auto;
    font-weight: lighter;
}

.font {
    font-family: "游明朝", serif;
}