@charset "utf-8";

#page-title {
    background-color: #54c3da;
    text-align: center;
}

#page-title h1 {
    color: white;
    padding-top: 20px;
    font-size: 45px;
}

#page-title p {
    color: white;
    font-size: 20px;
}

#page-title img {
    width: 100%;
}

.writer-card {
    width: 550px;
    height: 180px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid black;
    position: relative;
    display: flex;
}

.writer-card img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin: auto 5px;
}

.writer-card h2 {
    width: 360px;
    font-size: 30px;
    padding: 0 10px 5px;
    margin: 0 10px;
    border-bottom: 1px solid black;
}

.writer-card p {
    padding: 5px 25px;
}

.writer-card .writer-page {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px 25px;
}

.writer-card a {
    color: black;
    text-decoration: none;
}

.writer-card a:hover {
    color: blue;
    text-decoration: underline;
}